.ProFeed {
  font-size: 13px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ProFeed-each {
  width: 100%;
  height: 45px;
  color: black;
  display: flex;
  background: rgba(241, 241, 241, 1);
  flex-direction: space-between;
  align-items: center;
}

.ProFeed-each:nth-child(even) {
  background: white;
}

.ProFeed-each:hover {
  background-color: #E7E7E7;
}

/** ========= EACH STATUS ========= */

.ProFeed-each-status {
  width: 6px;
  height: 100%;
}

.ProFeed-each-status#Win {
  background: hsl(205, 86%, 65%);
}

.ProFeed-each-status#Loss {
  background: hsl(6, 86%, 65%);
}

/** ========= EACH INFO ========= */

.ProFeed-each-info {
  display: flex;
  width: 140px;
  justify-content: space-around;
  align-items: center;
  padding-left: 2px;
}

.ProFeed-each-info-picture {
  width: 30px;
  height: 30px;
  background: rgb(80, 80, 80);
  background-size: 180%;
  background-position: center 4%;

}

.ProFeed-each-info-personal {
  width: 80px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.ProFeed-each-info-personal div {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(57, 57, 57, 1);
  font-weight: 100;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProFeed-each-info-personal>span {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 100;
  margin-top: 1px;
  font-size: 0.6rem;
  color: #2E2E2E
}

.ProFeed-each-info-personal div>span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
	color: rgba(161, 161, 161, 1);
}

/** ========= EACH GAME ========= */

.ProFeed-each-game {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
}

.ProFeed-each-game-hero {
  width: 25px;
  height: 25px;
  background-size: 130%;
  background-position: center;
  border-radius: 50%;
  position: relative;
}

.ProFeed-each-game-kda {
  width: 60px;
  font-size: 12px;
  white-space: nowrap;
}

.ProFeed-each-game-role {
  width: 12px;
  height: 12px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;

  position: absolute;
  top: -5px;
  left: -5px;
}

.ProFeed-each-game-role#Captain {
  background-color: rgb(191, 150, 1);
  background-image: url("/roles/captain.png");
}

.ProFeed-each-game-role#Carry {
  background-color: rgb(160, 46, 45);
  background-image: url("/roles/carry.png");
}

.ProFeed-each-game-role#Jungler {
  background-color: rgb(106, 183, 11);
  background-image: url("/roles/jungler.png");
}

/** ========= EACH ITEMS ========= */

.ProFeed-each-items {
  display: flex;
  width: 80px;
  height: 85%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ProFeed-each-items-each {
  width: 19px;
  height: 19px;
  background: rgba(195, 195, 195, 1);
  border-radius: 50%;
  margin: 0 1px;
  background-size: 100%;
  
}

/** ========= EACH ARROW ========= */

.ProFeed-each-arrow {
  width: 15px;
  height: 100%;
  color: rgba(195, 195, 195, 0.6);
  font-size: 35px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anim-appear {
  opacity: 0.01;
}
 
.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}