
.PlayerInfo {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.PlayerInfo-icons {
  text-align: right;
}
.PlayerInfo-icons i {
  font-size: 20px;
  color: #F4C338;
  cursor: pointer;
}

.PlayerInfo-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #F8F8F8;
}

.PlayerInfo-info .PlayerInfo-tier {
  width: 130px;
  height: 150px;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: top center;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}

.PlayerInfo-tier-bar {
  width: 110px;
  margin: 85% auto;
  height: 10px;
  background: #D8D8D8;
  border-radius: 10px;
  position: relative;
}
.PlayerInfo-tier-bar-fill {
  background: #F4C338;
  border-radius: 10px;
  height: 100%;
}

.PlayerInfo-tier-bar-label {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 13px;
  color: #F4C338;
  border: 2px solid #D8D8D8;
  background: white;
  font-weight: bolder;
  padding: 2px 5px;
  text-align: center;
  border-radius: 20px;
}

.PlayerInfo-info .PlayerInfo-details {
  padding: 20px 10px;
  box-sizing: border-box;
  width: 180px;
}

.PlayerInfo-details .PlayerInfo-name {
  font-size: 21px;
  color: #EFC317;
  font-weight: bold;
  margin-bottom: 5px;
}

/* 
@media screen and (max-width: 1120px) and (min-width: 700px) {
  .PlayerInfo-info {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .PlayerInfo-info .PlayerInfo-details {
    padding: 0;
    text-align: center;
    margin-bottom: 10px;
  }
} */

.PlayerInfo-details .PlayerInfo-desc {
  font-size: 15px;
  font-weight: 300;
  color: #4B4B4B;
}

.PlayerInfo-details .PlayerInfo-update {
  margin-top: 20px;
  font-size: 13px;
  color: #4B4B4B;

}

.PlayerInfo-Team {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 2px solid #F8F8F8;
  align-items: center;
  justify-content: center;
}

.PlayerInfo-Team-Picture {
  width: 70px;
  height: 70px;
  background-size: 120%;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 10px;
  
}

.PlayerInfo-Team-logo {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.PlayerInfo-Team h4 {
  margin: 0;
  font-size: 13px;
  color: #4B4B4B;
  font-weight: 400;
}

.PlayerInfo-Team-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.PlayerInfo-Team-name {

  color: rgb(66, 66, 66);
  font-weight: bold;
  font-size: 15px;

}

.PlayerInfo-VPR {
  display: flex;
  padding: 20px 5px;
  box-sizing: border-box;
  justify-content: space-around;
}

.PlayerInfo-Stat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 55px;
}

.PlayerInfo-Stat div {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 500;
}

.PlayerInfo-Stat span {
  font-size: 13px;
  color: #EFC317;
  font-weight: bold;
}

.VPR {
  position: relative;
}

.VPR:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -13px;
  width: 20px;
  height: 100%;
  background: url("/images/logo_badge.svg") no-repeat;
  background-position: center center;
  background-size: 100%;
}

.PlayerInfo-AKA {
  width: 100%;
  border-top: 2px solid #F8F8F8;
  padding: 5px;
  box-sizing: border-box;
}

.PlayerInfo-AKA>h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #4B4B4B;
  margin: 2px 5px 10px;
}

.PlayerInfo-AKA>span {
  padding: 2px 5px;
  background: #F4C338;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 13px;
}