.Profile-wrap {
  display: flex;
  position: relative;
}

/* .Profile-ads {
  background: grey;
  width: 800px;
  height: 80px;
} */

.Profile__Sidebar {
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  /* background: red; */
}



.ProfileSidebar-box .box__card-Body{
  /* margin-bottom:25px; */
  /* padding-bottom:20px */
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.Profile__Main {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .Profile-wrap { 
    flex-wrap: wrap;
  }
  .Profile__Sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  .ProfileSidebar-box { 
    flex-grow: 1;
  }
  /* .ProfileSidebar-box:first-of-type {
    width: 100%;
  } */
}

@media screen and (max-width: 400px) {
  .Profile__Sidebar {
    flex-direction: column;
    justify-content: center;
    /* background: blue; */
  }
  .ProfileSidebar-box { 
    width: 100%;
  }

  .Profile__Main {
    padding: 0;
  }

}