.Profile-wrap {
  display: flex;
  margin-top: 30px;
  position: relative;
}

/* .Profile-ads {
  background: grey;
  width: 800px;
  height: 80px;
} */

.Profile__Sidebar {
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  /* background: red; */
}

.ProfileSidebar-box {
  /* margin-bottom:25px; */
}

.Profile__Main {
  width: 100%;
  padding: 0 10px;
  /* background: blue; */
}

@media screen and (max-width: 1088px) {
  .Profile-wrap { 
    flex-wrap: wrap;
  }
  .Profile__Sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  .ProfileSidebar-box { 
    flex-grow: 1;
  }
}

@media screen and (max-width: 400px) {
  .Profile__Sidebar {
    flex-direction: column;
    /* background: blue; */
  }
  .ProfileSidebar-box { 
    width: 100%;
  }
}