.Profile-wrap {
  display: flex;
  margin-top: 100px;
  position: relative;
}

.Profile__Sidebar {
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  /* background: red; */
}

.ProfileSidebar-box {
  margin-bottom:25px;
}

.Profile__Main {
  width: 100%;
  padding: 0 10px;
  /* background: blue; */
}

@media screen and (max-width: 1088px) {
  .Profile-wrap { 
    flex-wrap: wrap;
  }
  .Profile__Sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 900px) {
  .Profile__Sidebar {
    flex-direction: column;
    /* background: blue; */
  }
  .ProfileSidebar-box { 
    width: 100%;
  }
}