.MatchDetails-Overview {
  width: 100%;
  display: flex;
}

.Overview-Team {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background: #F5ECEC; */
}

.Overview-Team .Overview-Cell {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 0 10px; */
  box-sizing: border-box;

}

.Overview-Team:first-of-type {
  /* border-right: 2px solid #F3F3F3; */
  /* background: #D5EDFE; */
}

.Overview-Team:last-of-type .Overview-Cell {
  flex-direction: row-reverse;
}


.Overview-Team .Overview-Header .Overview-Player-Items {
  justify-content: center;
}

.Overview-Team .Overview-Cell>div {
  flex-shrink: 0;
  flex-grow: 0;
}

.Overview-Team .Overview-Cell.Overview-Header {
  height: 25px;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  color: grey;
  text-transform: uppercase;
  border-right: 1px solid rgb(233, 233, 233);
  border-right: 1px solid var(--overviewTeamBorderRight);
  background: #EAEAEA;
  background: var(--overviewTeamBackground2);
  /* background: rgba(214, 214, 214, 0.226); */
}

.Overview-Team:last-of-type .Overview-Cell.Overview-Header {
  border: 0;
}

.Overview-Team .Overview-Cell.Overview-Player {
  height: 65px;
  border-bottom: 1px solid #97979731;
  border-bottom: 1px solid var(--overviewTeamBorderBottom);
}

.Overview-Team .Overview-Cell.Overview-Player:nth-child(odd) {
  /* background: rgba(90, 90, 90, 0.041); */
}

.Overview-Team:last-of-type .Overview-Cell .Overview-Player-Info {
  flex-direction: row-reverse;
}

.Overview-Player-Info {
  width: 130px;
  display: flex;
  box-sizing: border-box;
  padding: 2px;
  flex-direction: row;

  /* border: 1px solid blue; */
}

.Overview-Player-Info-details {
  width: 80px;
  align-self: flex-start;
}
.Overview-Team:last-of-type .Overview-Player-Info-details {
  text-align: right;
  margin-right: 5px;
}

.Overview-Player-Image {
  width: 40px;
  margin-right: 10px;
}

.Overview-Player-Image .Overview-Player-Image-Hero {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-size: 140%;
  background-position: center center;
  background-color: rgb(201, 201, 201);
  background-color: var(--overviewPlayerImageBackgroundColor);
  border: 3px solid #4A90E2;
  border: 3px solid var(--buildsPlayerImageBorder);
  position: relative;
}

.Overview-Team:last-of-type .Overview-Player-Image-Hero {
  border-color: #FF6262;
  border-color: var(--buildsMatchBuildsTeamBorderColor);
}

.Overview-Player-Image-Role {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
}

.Overview-Player-Image-Role#captain {
  background-color: rgb(191, 150, 1);
  background-color: var(--captainColor);
  background-image: url("/roles/captain.png");
}

.Overview-Player-Image-Role#carry {
  background-color: rgb(160, 46, 45);
  background-color: var(--carryColor);
  background-image: url("/roles/carry.png");
}

.Overview-Player-Image-Role#jungler {
  background-color: rgb(106, 183, 11);
  background-color: var(--junglerColor);
  background-image: url("/roles/jungler.png");
}

.Overview-Player-Info .Overview-Player-Info-Name {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #3A3A3A;
  color: var(--overviewPlayerInfoNameColor);
}

.Overview-Player-Info .Overview-Player-Info-KDA {
  font-size: 11px;
  color: grey;
  color: var(--buildsAbilityRowSpan);
}

.Overview-Player-Info .Overview-Player-Info-KDA>span {
  color: black;
  color: var(--overviewPlayerInfoKDASpanColor);
}
.Overview-Player-Info .Overview-Player-Info-KDA>span.d {
  color: rgb(179, 32, 32);
  color: var(--overviewPlayerInfoKDASpandColor)
}
.Overview-Player-Info .Overview-Player-Info-KDA>div {
  font-size: 13px;
  color: black;
  color: var(--overviewPlayerInfoKDASpanColor);
  font-weight: bold;
}

.Overview-Player-Game {
  width: 100px;
}

.Overview-Player-Items {
  width: 75px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.Overview-Player-Items .Overview-Player-Item {
  width: 23px;
  height: 23px;
  margin: 2px 0;
  flex-shrink: 0;
  background-color: rgb(201, 201, 201);
  background-color: var(--overviewPlayerImageBackgroundColor);
  background-size: 100%;
  border-radius: 50%;
}

.Overview-Player-Damage {
  width: 100%;
  display: flex;
  margin-top: 1px;
  height: 10px;
  align-items: center;
}

.Overview-Player-Damage-bar {
  width: 75%;
  border-radius: 15px;
  height: 7px;
  position: relative;
  background: rgba(95, 95, 95, 0.356);
  background: var(--overviewPlayerDamageBar);
  /* overflow: hidden; */
}
.Overview-Player-Damage-fill {
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(-90deg, rgb(243, 165, 92) 0%, rgb(231, 118, 42) 100%);
  background-image: var(--overviewPlayerDamageFillBackgroundImage);
  box-shadow: 0 0 2px rgb(231, 143, 42);
  box-shadow: 0 0 2px var(--overviewPlayerDamageFillBoxShadow);
  transition: all 300ms;
}
.Overview-Player-Damage-fill.DamageTaken {
  background-image: linear-gradient(-90deg, #F3DD5C 0%, #E7AE2A 100%);
  background-image: var(--overviewPlayerDamageFillDamageTakenBackgroundImage);
  box-shadow: 0 0 2px #E7AE2A;
  box-shadow: 0 0 2px var(--overviewPlayerDamageFillDamageTakenBoxShadow)
}
.Overview-Player-Damage-fill.Healing {
  background-image: linear-gradient(-90deg, rgb(110, 243, 92) 0%, rgb(11, 201, 21) 100%);
  backgorund-image: var(--overviewPlayerDamageFillHealingBackgroundImage);
  box-shadow: 0 0 2px rgb(11, 201, 21);
  box-shadow: 0 0 2px var(--overviewPlayerDamageFillHealingBoxShadow);
}

.Overview-Player-Damage-label {
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  color: grey;
  color: var(--buildsAbilityRowSpan);
  margin-left: 3px;
}

.Overview-Player-Stats {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.Overview-Player-Stats-Game {
  display: flex;
  justify-content: center;
}

.Overview-Player-CS {
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: rgb(53, 53, 53);
  color: var(--overviewPlayerCS);
  font-weight: 500;
}
.Overview-Player-CS:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  margin-right: 2px;
  width: 10px;
  height: 15px;
  
  background: url("/icons/cs.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 10px 10px;
}

.Overview-Player-Gold {
  font-size: 11px;
  color: rgb(53, 53, 53);
  color: var(--overviewPlayerCS);
  font-weight: 500;
}
.Overview-Player-Gold:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  margin-right: 2px;
  width: 10px;
  height: 15px;
  
  background: url("/icons/gold.svg") no-repeat bottom;
  background-size: 10px 10px;
}

.Overview-Player-Rank {
  width: 30px;
  /* background: green; */
  /* border: 1px solid green; */
}
.Overview-Player-Tier {
  width: 30px;
  height: 40px;
  background-size: 150%;
  border-radius: 50%;
  /* background-color: rgb(236, 236, 236); */
  background-position: center top;
}

.Overview-Player-RankPoints {
  width: 30px;
  margin-top: -2px;
  background-color: white;
  background-color: var(--backgroundPrimary);
  font-size: 10px;
  color: grey;
  color: var(--buildsAbilityRowSpan);
  border: 1px solid rgb(218, 218, 218);
  border: 1px solid var(--overviewPlayerRankPointBorder);
  border-radius: 5px;
  text-align: center;
  padding: 1px;
  box-sizing: border-box;
}


.Overview-Cell.Overview-Team-Info {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 5px;
  margin-top: auto;
  display: flex;
}

.Overview-Team:last-of-type .Overview-Legends {
  opacity: 0;
}

.Overview-Legends {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.Overview-Legends>div {
  position: relative;
  margin: 1px 0;
  padding-left: 18px;
  height: 13px;
  line-height: 17px;

  font-size: 10px;
  font-weight: 500;
  color: rgba(68, 68, 68, 0.473);
  color: var(--overviewLegendsDivColor);
  text-transform: uppercase;
}

.Overview-Legends>div:before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-size: 100%;
  background-image: linear-gradient(-90deg, #FAD961 0%, #F76B1C 100%);
  background-image: var(--overviewLegendsDivBeforeBackgroundImage);
}
.Overview-Legends-DamageTaken:before {
  background-image: linear-gradient(-114deg, #FAD961 0%, #E9BC1A 96%) !important;
  background-image: var(--overviewLegendsDamageTakenBeforeBackgroundImage);

}

.Overview-Legends-HealingDone:before {
  background-image: linear-gradient(-90deg, rgb(110, 243, 92) 0%, rgb(11, 201, 21) 100%) !important;
  background-image: var(--overviewLegendsHealingDoneBeforeBackgroundImage);
}

.Overview-Team-Stats {
  display: flex;
}
.Overview-Team:last-of-type .Overview-Team-Stats {
  flex-direction: row-reverse;
}

.Overview-Team-Ban {
  width: 35px;
  height: 35px;
  background-size: 120%;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #FF6262;
  border: 3px solid var(--buildsMatchBuildsTeamBorderColor);
  /* animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; */
  position: relative;
}

.Overview-Team:first-of-type .Overview-Team-Ban  {
  border-color: #4A90E2;
  border-color: var(--buildsPlayerImageBorder);
}

.Overview-Team-Ban:after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: -8px;
  transform: rotate(120deg);
  width: 50px;
  height: 3px;
  background: #FF6262;
  background: var(--buildsMatchBuildsTeamBorderColor);
}

.Overview-Team:first-of-type .Overview-Team-Ban:after {
  background: #4A90E2;
  background: var(--buildsPlayerImageBorder);
}

.Overview-Team-Values {
  width: 90px;
  display: flex;
  flex-direction: column;

  margin: 0 10px;

  position: relative;
  padding: 0 5px;
  box-sizing: border-box;

  font-size: 13px;
  color: grey;
  color: var(--buildsAbilityRowSpan);
}

.Overview-Team-Values .Overview-Team-Gold {
  /* fon */
  text-align: center;
}
.Overview-Team-Values .Overview-Team-Gold:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  margin-right: 2px;
  width: 10px;
  height: 15px;
  
  background: url("/icons/gold_red.svg") no-repeat bottom;
  background-size: 10px 10px;
}

.Overview-Team:first-of-type .Overview-Team-Gold:before {
  background-image: url("/icons/gold_blue.svg");
}

.Overview-Team-Top {
  border-bottom: 2px solid #FF6262;
  border-bottom: 2px solid var(--buildsMatchBuildsTeamBorderColor);
  height: 20px;
}

.Overview-Team:first-of-type .Overview-Team-Top {
  border-bottom-color: #4A90E2;
  border-bottom-color: var(--buildsPlayerImageBorder);
}

.Overview-Team-Others {
  display: flex;
  justify-content: space-around;
}

.Overview-Team-Turret:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  margin-right: 2px;
  width: 10px;
  height: 15px;
  
  background: url("/icons/sentry_red.png") no-repeat bottom;
  background-size: 10px 10px;
}

.Overview-Team:first-of-type .Overview-Team-Turret:before {
  background-image: url("/icons/sentry_blue.png");
}

.Overview-Team-Kraken:before {
  content: "";
  display: inline-block;
  vertical-align: center;
  margin-right: 2px;
  width: 10px;
  height: 15px;
  
  background: url("/icons/kraken_red.svg") no-repeat bottom;
  background-size: 10px 10px;
}

.Overview-Team:first-of-type .Overview-Team-Kraken:before {
  background-image: url("/icons/kraken_blue.svg");
}

.Overview-Team-Score {
  width: 40px;
  color:#FF6262;
  color: var(--buildsMatchBuildsTeamBorderColor);
}

.Overview-Team:first-of-type .Overview-Team-Score {
  color: #4A90E2;
  color: var(--buildsPlayerImageBorder);
}

.Overview-Team-Score>div {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.Overview-Team-Score>span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
}

.win {
  color: #5DB4F1;
  color: var(--overviewWinColor);
}

.loss {
  color: #F1685D;
  color: var(--overviewLossColor);
}

  /* background-position: center center;
  border: 3px solid #4A90E2;
  position: relative;
}

.Overview-Team:last-of-type .Overview-Player-Image-Hero {
  border-color: #FF6262; */

/** to remove mirror on responsive **/
@media screen and (max-width: 768px) {
  .MatchDetails-Overview {
    flex-direction: column;
  }
  .Overview-Team:last-of-type .Overview-Cell {
    flex-direction: row;
  }
  .Overview-Team:last-of-type .Overview-Cell .Overview-Player-Info {
    flex-direction: row !important;
  }
  .Overview-Team:last-of-type .Overview-Player-Image {
    margin-right: 10px;
    margin-left: 0;
  }
  .Overview-Team:last-of-type .Overview-Team-Stats {
    flex-direction: row;
  }
  .Overview-Team:last-of-type .Overview-Player-Info-details {
    text-align: left;
  }
}