.HeroesMeta {
  padding: 10px 0px 0;
  display: flex;
  flex-direction: column;
}

.HeroesMeta-Title {
  display: flex;
  position: relative;
}

.HeroesMeta-Selector {
  margin-left: auto;
  /* background: red; */
  width: 150px;
  height: 20px;
  display: flex;
  justify-content: flex-end;

}

.HeroesMeta-Selector-PickRate {
  background: red;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.HeroesMeta_RegionSelect {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}

.HeroesMeta_RegionSelect div {
  font-size: 14px;
  color: grey;
  font-weight: 500;
  padding: 0 5px 5px;
}
.HeroesMeta_RegionSelect div.active {
  color: #DCAF5A;
  
}

.HeroesMeta-Top3 {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.HeroesMeta-Top {
  width: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.Heroes-Meta-Top-Image {
  width: 50px;
  margin-top: auto;
  position: relative;
  height: 50px;
  background-size: 100%;
  border-radius: 50%;
}

.Heroes-Meta-Top-Image-Tag {
  position: absolute;
  top: -2px;
  right: -3px;
  display: block;
  width: 20px;
  font-size: 12px;
  color: white;
  height: 20px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 50%;
  background: rgb(73, 73, 73);
}

.Heroes-Meta-Top-Image-Tag.Tag-1 {
  width: 25px;
  height: 25px;
  font-size: 14px;
  background: #E8A827;
}

.Heroes-Meta-Top-Image-Tag.Tag-2 {
  background: #9B9B9B;
}
.Heroes-Meta-Top-Image-Tag.Tag-3 {
  background: #A54916;
}


.HeroesMeta-Top3 .HeroesMeta-Top:nth-child(2) .Heroes-Meta-Top-Image{
  width: 70px;
  height: 70px;
}

.Heroes-Meta-Top-Name {
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #3A3A3A;
}

.HeroesMeta-Top span {
  margin: 5px;
  font-size: 13px;
}

.Heroes-Meta-Divider {
  width: 100%;
  margin: 10px 0 0;
  height: 10px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
}

.Heroes-Meta-Others {
  width: 100%;
  /* background: red; */
  /* padding: 0 15px; */
  box-sizing: border-box;
  height: 103px;
  overflow-y: scroll;
}

.Heroes-Meta-Others .HeroesMeta-Top {
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* background: green; */
  padding: 5px 30px;
  box-sizing: border-box;
  /* border-bottom: 1px solid rgb(224, 224, 224); */
}

.Heroes-Meta-Others .HeroesMeta-Top:nth-child(even) {
  background: rgb(240, 240, 240);
}

.Heroes-Meta-Others .HeroesMeta-Top .Heroes-Meta-Top-Image {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.Heroes-Meta-Others .HeroesMeta-Top .Heroes-Meta-Top-Name {
  margin-top: 0;
}

.Heroes-Meta-Others .HeroesMeta-Top span {
  margin-left: auto;
}
