@media only screen and (max-width: 1000px) {
.leaderboard .leaderboard_table {
    width: 100%;
}
.leaderboard .leaderboard_tools {
    display: block;
    width: 100%;
    padding: 0;
}
.leaderboard .leaderboard_tools .region_list .region_all_filter {
    justify-content: center;
}
.leaderboard .leaderboard_tools .region_list .region_all_filter .region_filter {
    padding: 10px;
    
}
.leaderboard .leaderboard_table a.each_player div.position .modif {
    margin-left: 1px;
}
.leaderboard .leaderboard_table div.position {
    text-align: left;
    width: 100px;
    padding-left: 2px;
}
.leaderboard .leaderboard_table div.player{
    justify-content: flex-start;
}
.leaderboard .leaderboard_table a.each_player div.player {
    font-size: 12px;
}
.leaderboard .leaderboard_table div.winrate {
    width: 80px;
}
.leaderboard .leaderboard_table a.each_player div.winrate div.winrate_fill {
    display: none;
}
.leaderboard .leaderboard_table div.kda {
    text-align: left;
}
.leaderboard .leaderboard_tools .player_input {
    margin: 10px;
}
}