
* {
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
}

html {
  touch-action: manipulation;
	height:100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #E5E5E5;
  background-attachment: fixed;
  overflow-x: none;
	height:100%;
}
html, body, #app {
  height: 100%
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

/** ======== WRAP======= */
.wrap {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}
