@media only screen and (max-width: 1120px) {
  
  .aboutus {
    height: auto;
  }
  .aboutus .logo {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .aboutus .aboutuswrap {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .aboutus .aboutus_text {
    width: 100%;
  }
  .twitter-follow-button {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: absolute;
    z-index: 9994;
    top: 5px;
    right: 30px;
    background: #313131;
    color: #D0D0D0;
    box-sizing: border-box;
    font-size: 25px;
    padding: 6px;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .menu {
    width: 100%;
    height: 100%;
    background: #252525;
    display: none;
    position: fixed;
    z-index: 9992;
    top: 0;
    right: 0;
    padding: 150px 20px;
    box-sizing: border-box;
  }
  .menu .wrap {
    width: 100%;
  }
  .menu a {
    display: block;
    text-align: center;
    width: 100%;
    border: 0;
    color: white;
    line-height: 15px;
    padding-bottom: 25px;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
  }
  .menu a:hover {
    color: white;
  }
}

@media only screen and (max-width: 700px) {
  [data-tooltip]{
    overflow: hidden;
  }
  .wrap {
    width: 100%;
  }
  .header .logo {
    width: 100%;
    padding: 30px 0;
  }
  .header .logo .img {
    padding: 20px 0;
    background: url(./images/logo_icon.png) no-repeat center;
    width: 100%;
    height: 80px;
    background-size: auto 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 9993;
  }
  .searchbar .searchwrap {
    margin-right: 0;
    padding: 0;
    float: none;
  }
  .searchbar .searchwrap {
    width: 100%;
  }
  .searchbar .searchwrap .search {
    //width: 100%;
    margin: 0;
    border-radius: 0;
    font-size: 11px;
  }
  .searchbar .searchwrap button {
    border-radius: 0;
    box-shadow: 1px 0px 0px rgb(208, 208, 208);

  }
  .searchbar .error-search {
    width: 100%;
    margin: -10px 0;
    left: 0;
    padding: 5px 0;
    border-radius: 0;
  }
}
