.errorbox {
	width: 80%;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
}
.errorbox .sadface {
	background: url('../images/sad.png') no-repeat;
	width: 295px;
	height: 270px;
	display: inline-block;
	margin: 15px;
}
.errorbox .desc {
	width: 290px;
	margin: 0 auto;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 25px;
	margin-top: -75px;
}
.errorbox .desc span {
	font-weight: bold;
}
.errorbox .desc h2 {
	text-align: center;
	margin: 20px;
	font-size: 40px;
	font-weight: bolder;
}
