@media only screen and (max-width: 1190px) {
.news-article {
    width: 100%;
}
.news-header .news-img .news-title .news-title-text h1 {
    font-size: 21px;
}
.news-header .news-img .news-title .news-title-text h2 {
    font-size: 15px;
}
.news-body { 
    padding: 5px;
}

.news-body .blog-content { 
    width: 100%;
    font-size: 13px;
}
.news-sidebar { 
    width: 100%;
}
}