@media only screen and (max-width: 1120px) {
    .teams_up {

    height: auto;

}

.teams_up .regieach {
    text-align: center;
}

.content .boxes {
	width: 100%;
	display: block;
}
.content .boxes .team {
	width: 100%;
	display:block;
	border:0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: white;
	margin: 1% 0;
}
.content .boxes .team_row {
	display: block;
	border: 0;
	
}
.teams_up .regieach div {
	display: block;
	margin: 0;
}
.content .boxes .team .side {
	width: 100%;
	display: block;
	text-align: center;
}
.content .boxes .team .side .logo {
	display: inline-block;
	margin: 0;
}
.content .boxes .team .side .player {
	width: 100%;
}
}