/** ======== HEADER AND LOGO ======= */

.Header {
  width: 100%;
  height: 55px;
  text-align: center;
  background-color: white;
  background-color: var(--backgroundPrimary);
  /* background-color: rgb(49, 38, 0); */
  /* background-color: #323232; */
  position: relative;
  z-index: 4;
  display: flex;
  box-shadow: 0 4px 2px -2px rgba(63, 63, 63, 0.12);
  box-shadow: 0 4px 2px -2px var(--boxShadowSecondary);

  /* box-shadow: 0 4px 2px -2px rgba(63, 63, 63, 0.37); */
}

.Header-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.Header-Logo {
  /* background: url('/images/logo_w.png') no-repeat; */
  background: url('/images/logo_small.png') no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 125px;
  height: 42px;
}
.Header-Logo-space {
  margin-right: 30px;
}