/** ======== HEADER AND LOGO ======= */

.Header {
  width: 100%;
  height: 55px;
  text-align: center;
  background: white;
  /* background-color: rgb(49, 38, 0); */
  /* background-color: #323232; */
  position: relative;
  z-index: 3;
  display: flex;
  box-shadow: 0 4px 2px -2px rgba(63, 63, 63, 0.12);

  /* box-shadow: 0 4px 2px -2px rgba(63, 63, 63, 0.37); */
}

.Header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  /* background: blue; */
}

.Header-Logo {
  /* background: url('/images/logo_w.png') no-repeat; */
  background: url('/images/logo_small.png') no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 125px;
  height: 42px;
}


.Header-BG {
  width: 100%;
  height: 100%;
  background: url("/images/logo-bg-black.png") no-repeat;
  background-position: center top;
  position: absolute;
  z-index: -1;
  opacity: 0.08;
}

header {
  position: relative;
  width: 100%;

}
header .logo {
  box-sizing: border-box;
  max-width: 80%;
  height: 300px;
  /* background: url('/images/header.png') no-repeat right; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


/* header .logo .img {
  box-sizing: border-box;
  width: 300px;
  height: 92px;
  background: url('/images/logo.png') no-repeat;
  background-size: 100%;
} */

header .logo .img {
  box-sizing: border-box;
  width: 200px;
  height: 238px;
  background: url('/images/logo_shield.svg') no-repeat;
  background-size: 100%;
}


@media screen and (max-width: 568px) {
  header .logo {
  width: 200px;
  height: 238px;

  }
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

