.Sidebar {
  width: 100px;
  height: 100%;
  /* background-image: linear-gradient(-180deg, rgb(250, 189, 97) 0%, #F76B1C 100%); */
  background-image: linear-gradient(-180deg, #DFA436 0%, #E6BE3E 100%);
  box-shadow: inset -4px 1px 7px 0 rgba(0,0,0,0.11);
  box-shadow: inset -4px 1px 7px 0 var(--sidebarBoxShadow);
  position: fixed;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  box-sizing: border-box;
}

.Sidebar-VGPRO-logo {
  width: 70px;
  height: 90px;
  background-image: url("/images/logo_icon_w.png");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;

  flex-shrink: 0;
}

.Sidebar-Search {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.Sidebar-Search-Icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background: #ECEEF1;
  background: var(--background);
  box-shadow: 0 0 15px rgba(0, 14, 77, 0.3);
  box-shadow: 0 0 15px var(--sidebarSearchBoxShadow);
  border-radius: 100%;

  font-size: 18px;
  line-height: 45px;
  text-align: center;
}

.Sidebar-Menu {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background: red; */
}

.Sidebar-Menu-Item {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  margin: 5px 0;
  padding: 2px 0;

  opacity: 0.7;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  transition: all 300ms;
}

.Sidebar-Menu-Item:first-of-type {
  margin-top: 0;
}

.Sidebar-Menu-Item:hover {
  opacity: 1;
}

.Sidebar-Menu-Item.active {
  border-left: 3px solid white;
  border-left: 3px solid var(--backgroundPrimary);
  opacity: 1;
}

.Menu-Item-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.Sidebar-Menu-Item span {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  color: var(--backgroundPrimary);
}

.Menu-Item-icon.icon-home {
    background-size: 30px 30px;
  background-image: url("/icons/home.svg");
}
.Menu-Item-icon.icon-leaderboard {
  background-image: url("/icons/leaderboard.svg");
}
.Menu-Item-icon.icon-heroes {
  background-image: url("/icons/heroes.svg");
}
.Menu-Item-icon.icon-teams {
  background-image: url("/icons/teams.svg");
}
.Menu-Item-icon.icon-news {
  background-image: url("/icons/news.svg");
}
.Menu-Item-icon.icon-vg8 {
  background-image: url("/icons/vg8.svg");
}