.Lead5-box {
  height: 340px;
}

.Lead5 {
  width: 100%;
  font-size: 13px;
}

.Lead5-each {
  height: 45px;
  background-color: white;
  background-color: var(--backgroundPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Lead5-each:nth-child(even) {
  background: rgb(240, 240, 240);
  background-color: var(--backgroundPrimary-Odd);
}

.Lead5-each-pos {
  min-width: 50px;
  font-size: 32px;
  color: #6F7175;
  color: var(--textPrimary);
  text-align: right;
  font-weight: 500;
  margin-right: 5px;
}
.Lead5-each-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.Lead5-each-vpr {
  padding: 0 30px;
}

.Lead5-each-info-name {
  display: flex;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(75, 75, 75);
  color: var(--textPrimaryHighlight);
  margin-bottom: 1px;
  
}

.Lead5-each-info-name span {
  font-size: 12px;
  align-self: flex-end;
  margin-left: 1px;
  /** lol, seriously? */
  padding-bottom: 1px;

  color: rgba(161, 161, 161, 1);
  color: var(--textPrimary);
  opacity: 0.5;
  font-weight: normal;
}
.Lead5-each-info-skilltier {
  display: none;
}
.Lead5-each-info-stats {
  display: flex;
  font-size: 10px;
  color: #A3A3A3;
  color: var(--textPrimary);
  text-transform: uppercase;
  font-weight: 500;
}

.Lead5-each-vpr-number {
  font-size: 24px;
  /* color: rgba(134, 200, 91, 1); */
}

.Lead5-each-vpr-name {
  display: none;
}

.Lead5-each#featured {
  height: 90px;
}

.Lead5-each#featured .Lead5-each-pos {
  font-size: 72px;
  color: rgba(234, 203, 93, 1);
  color: var(--primaryColor);

  /** What? To align the big number with the small */
  letter-spacing: -10px;
  
}

.Lead5-each#featured .Lead5-each-info-name {
  font-size: 18px;
}

.Lead5-each-info-stats {
  font-size: 11px;
}

.Lead5-each#featured .Lead5-each-info-skilltier {
  display: flex;
  color: #6F7175;
  color: var(--textPrimary);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500; 
}

.Lead5-each#featured .Lead5-each-vpr-name {
  font-size: 17px;
  display: block;
  text-align: center;
  color: #6F7175;
  color: var(--textPrimary);
}