.PlayerMatch {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  border-left: 6px solid #F1685D;
}

.PlayerMatch-win {
  border-left-color: #5DB4F1;
}

.PlayerMatch-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.PlayerMatch-Avatar {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgb(190, 190, 190);
  border: 2px solid #9C9C9C;
  background-size: 100%;
  position: relative;
}

.PlayerMatch-Avatar-Role {
  background: grey;
  width: 35px;
  height: 35px;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  position: absolute;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 1168px) {
  .PlayerMatch-Avatar {
    width: 55px;
    height: 55px;
  }

  .PlayerMatch-Avatar-Role {
    width: 25px;
    height: 25px;
    top: -4px;
    right: -4px;
  }
}

.PlayerMatch-Avatar-Role#captain {
  background-color: rgb(191, 150, 1);
  background-image: url("/roles/captain.png");
}

.PlayerMatch-Avatar-Role#carry {
  background-color: rgb(160, 46, 45);
  background-image: url("/roles/carry.png");
}

.PlayerMatch-Avatar-Role#jungler {
  background-color: rgb(106, 183, 11);
  background-image: url("/roles/jungler.png");
}


.PlayerMatch-Info {
  width: 160px;
  flex-grow: 1;
  /* white-space: nowrap; */
  box-sizing: border-box;
  padding-left: 20px;
}

@media screen and (max-width: 1168px) {
  .PlayerMatch-Info  {
    width: 130px;
  }
}

@media screen and (max-width: 725px) {
  .PlayerMatch-Info  {
    padding-left: 10px;
  }
}

.PlayerMatch-Info h2 {
  margin: 0;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 16px;
}

@media screen and (max-width: 1068px) {
  .PlayerMatch-Info h2{
    font-size: 14px;
  }
}

.PlayerMatch-Info .MatchTime {
  color: #B1B1B1;
  font-size: 13px;
  margin-bottom: 5px;
}
.PlayerMatch-Info-KDA {
  color: #B1B1B1;
  font-size: 14px;
}

.PlayerMatch-Info-KDA span.k {
  color: black;
}
.PlayerMatch-Info-KDA span.death {
  color: rgb(192, 61, 61);
}

.PlayerMatch-Info-KDA-text {
  font-size: 18px;
  font-weight: 500;
  /* color: #FF6262; */
}

.PlayerMatch-Stats-Items {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
}

.PlayerMatch-Stats {
  text-align: center;
  flex-grow: 2;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  color: #B1B1B1;
}

.PlayerMatch-Stats-Gold div {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 500;
}
.PlayerMatch-Stats-Gold div:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  width: 15px;
  height: 20px;
  
  background: url("/icons/gold.svg") no-repeat bottom;
  background-size: 15px 15px;
}
.PlayerMatch-Stats-CS div {
  font-size: 14px;
  color: #4A4A4A;
  font-weight: 500;
}
.PlayerMatch-Stats-CS div:after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  width: 15px;
  height: 20px;
  
  background: url("/icons/cs.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.PlayerMatch-Items {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.PlayerMatch-Item {
  width: 30px;
  height: 30px;
  margin: 3px;
  border-radius: 50%;
  background: #D8D8D8;
  border: 1px solid #9C9C9C;
  background-size: 100%;
}

@media screen and (max-width: 790px) {
  .PlayerMatch-Stats-Items {
    flex-direction: column;
  }
  .PlayerMatch-Stats-Items>div {
    width: 100%;
  }
  .PlayerMatch-Item {
    width: 25px;
    height: 25px;
  }
}


.PlayerMatch-Players {
  min-width: 240px;
  width: 300px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1168px) {
  .PlayerMatch-Players {
    width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .PlayerMatch-Players {
    display: none;
  }
}

.PlayerMatch-Players-Team {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.PlayerMatch-Players-Player {
  margin: 2px 0;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  font-size: 13px;
  align-items: center;
}
.PlayerMatch-Players-Player a {
  color: #4A4A4A;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 300ms;
}
.PlayerMatch-Players-Player a b {
  color: #E6C156;
}

.PlayerMatch-Players-Player a:hover {
  color: black;
}

.PlayerMatch-Players-Player-Hero {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #D8D8D8;
  margin: 0 3px;
  border: 2px solid #499BD2;
  background-size: 120%;
  background-position: center center;
}

.PlayerMatch-Players-Team:last-of-type .PlayerMatch-Players-Player {
  text-align: left;
  flex-direction: row;
}
.PlayerMatch-Players-Team:last-of-type .PlayerMatch-Players-Player-Hero {
  border: 2px solid #E64659;
}

.PlayerMatch-Status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 20px;
  background: #F1685D;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: auto;
  border-radius: 30px;
}

.PlayerMatch-win .PlayerMatch-Status {
  background-color: #5DB4F1;
}