/** remake this */
.searchbar {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  /* border-bottom: 2px solid white; */
  /* background: url('/images/search/searchbar.png') no-repeat center #5285C9; */
}

.searchbar .searchwrap {
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
  position: relative;
}

/* .searchbar .submit_search {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: -90px;
} */

.searchbar .searchwrap .search {
  font-family: 'Roboto Condensed', sans-serif;

  width: 100%;
  height: 60px;
  margin: 0 auto 10px;
  padding: 10px 10px 10px 20px;
  border: 0;
  border-radius: 5px;
  outline: 0;

  background: white;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.searchbar .searchwrap button {
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 0 -57px;
  transform: all 300ms;
  
  border: 0;
  border-radius: 0 5px 5px 0;
  outline: 0;
  background: #D0D0D0;
  transition: all 300ms;
}
.searchbar .searchwrap button:hover {
  background: #E6E6E6;
}
.searchbar .searchwrap i {
  font-size: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: black;
}
