@media only screen and (max-width: 1120px) {
	.content-out {
		width: 100%;
		margin-top: 20px;
	}
	.box_title {
		font-size: 14px;
	}
	.content .wrap {
		display: block;
	}
	
	.news .each-article .article-img:hover .article-title {
		height: 100%;
	}
	.box_title span {
		font-size: 12px;
	}
	.leaderbox .lead_content .eachbox {
		width: 100%;
	}
	.leaderbox .lead_content .eachbox .hero_name {
		font-size: 10px;
		width: 60px;
	}
	.pro-feed {
		width: 100%;
		border-right:0;
    border-left: 0;
    margin: 0;
	}
	.leaderbox {
		width: 100%;
		padding: 0;
		margin: 5px 0;
		border-right:0;
		border-left: 0;
	}
	.news .each-article {
		width: 100%;
		margin-top: 5px;
		border-radius: 0;
		height: 200px;
	}
	.news .each-article .article-img  {
		border-radius: 0;
	}
	.pro-feed .header {
		display: none;
	}
	.pro-feed .match {
		height: auto;
		padding-bottom: 10px;
		line-height: auto;
	}
	.pro-feed .pro-feed_history a {
		text-align: center;
		    padding-top: 10px;
	}
	.pro-feed div.time {
		width: 90px;
		text-align: left;
	}

	.pro-feed .match div {
		font-size: 13px;
		text-align: center;
	}
	.pro-feed .match .pro_img {
		display: none;
	}
	.pro-feed div.reg {
		display: none;
	}
	.pro-feed .match .player_name {
		width: 80px;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 50px;
		font-size: 15px;
	}
	.pro-feed div.role {
		display: none;
	}
	.pro-feed div.photo {
		width: 40px;
	}
	.pro-feed div.item {
		width: 90px;
		    margin-top: -10px;
		text-align: center;
  }
  .pro-feed div.victory {
    display: none;
  }
	.pro-feed .match .item_img {
		width: 25px;
		height: 25px;
		
	}
	.pro-feed div.kda {
		width: 60px;
		text-align: center !important;
	}
}
@media only screen and (max-width: 400px) {
	.pro-feed .pro-feed_history a {
		padding: 0 0 5px;;
		
	}
	.pro-feed div.item {
		width: 100%;
		}
}