.Home-box {
  margin: 0 auto;
  max-width: 1050px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}

.Home-logo .logo {
  box-sizing: border-box;
  max-width: 80%;
  padding: 20px 0 0;
  /* background: url('/images/header.png') no-repeat right; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


/* .Home-logo .logo .img {
  box-sizing: border-box;
  width: 450px;
  height: 142px;
  background: url('/images/logo.png') no-repeat;
  background-size: 100%;
} */

.Home-logo .logo .img {
  box-sizing: border-box;
  width: 119px;
  height: 210px;
  background: url('/images/logo_shield.svg') no-repeat;
  background-size: 100%;
}


@media screen and (max-width: 568px) {
  .Home-logo .logo {
  width: 200px;
  height: 238px;

  }
}

.Box_RegionSelect {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px 50px 0px;
  /* padding: 0 50px; */
}

.Box_RegionSelect div {
  font-size: 14px;
  color: grey;
  font-weight: 500;
  padding: 0 5px 2px;
  cursor: pointer;
}

.Box_RegionSelect div:hover {
  color: rgb(75, 75, 75);
  cursor: pointer;
}

.Box_RegionSelect div.active {
  color: #DCAF5A;
  
}

.Box_Divider {
  width: 100%;
  /* margin: 0 0 10px; */
  height: 10px;
  background: linear-gradient(to top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
}

.Jonale-Ads {
  width: 728px;
  height: 90px;
  margin: 2px auto;
  background-image: url("https://vgy.me/ytc2rj.jpg");
}

@media screen and (max-width: 728px) {
  .Jonale-Ads {
    width: 350px;
    background-position: center;
  }
}