.Home-box {
  margin: 0 auto;
  max-width: 1050px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}

.Home-logo .logo {
  box-sizing: border-box;
  max-width: 80%;
  padding: 20px 0 0;
  /* background: url('/images/header.png') no-repeat right; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Home-logo .logo .img {
  box-sizing: border-box;
  width: 119px;
  height: 210px;
  background: url('/images/logo_shield.svg') no-repeat;
  background-size: 100%;
}


@media screen and (max-width: 568px) {
  .Home-logo .logo {
  width: 200px;
  height: 238px;

  }
}