
.ProfileMatchStats {
  position: relative;
  width: 100%;
  
}

.ProfileMatchStats-Box{
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-sizing: border-box;
}


/* .ProfileMatchStats-Wrap  */

.ProfileMatchStats-Team {
  width: 350px;
  height: 200px;
  background: rgb(255, 255, 255);
}

.ProfileMatchStats-Stats {
  width: 600px;
  height: 200px;
  background: rgb(255, 255, 255);
  flex-grow: 1;
}

.ProfileTeam {
  display: flex;
  position: relative;
}

.ProfileTeam__SkillTier {
  width: 150px;
  height: 230px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
}

.ProfileTeam__SkillTier span {
  font-size: 20px;
  color: white;
  /* color: black; */
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  text-align: center;
  display: block;
  margin-top: 100%;
}

.ProfileTeam__Team {
  flex-grow: 1;
  height: 200px;
}

.ProfileTeam__Team-Name {
  color: black;
  margin-bottom: 0;
}

.ProfileTeam__Team-Desc {
  font-size: 12px;
}

.ProfileTeam__Team-Logo {
  background-image: url("/teams/SK.png");
  background-position: 50px bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}


/** Profile Stats **/

.ProfileStats {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
.ProfileStats__Category {
  display: flex;
  position: relative;
}
.ProfileStats__Category h4 {
  position: absolute;
  color: grey;
  width: 100%;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.ProfileStats__Stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ProfileStats__Stats-Chart {
}

.ProfileStats__Stats-Label {
  text-align: center;
  font-size: 15px;
  position: absolute;
  width: 100%;
  color: grey;
  font-weight: 500;
  bottom: 30px;
}
.ProfileStats__Stats-Label.chart {
  margin-top: -20px;
}

.ProfileStats__Stats-Value {
  font-size: 32px;
  text-align: center;
  color: #FF6262
}
.ProfileStats__Stats-Desc {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ProfileStats__Stats-Bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
}

.ProfileStats__Stats-Bar .fill {
  height: 100%;
  flex-grow: 1;
}

.ProfileStats__KDA {

  width: 30px;
  text-align: center;
  padding-top: 20px;
  margin: 15px 10px;
  background-image: url("/icons/death.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 13px;
}

.ProfileStats__KDA.Kill {
  background-image: url("/icons/kill.svg");
}
.ProfileStats__KDA.Death {
  background-image: url("/icons/Death.svg");
  background-position: center -3px;
  background-size: 15px;
  color: rgb(199, 0, 0);
}
.ProfileStats__KDA.Assist {
  background-image: url("/icons/assist.svg");
}