.Box-ErrorScreen {
  margin: 5% auto;
}

.ErrorScreen {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ErrorScreen-Bad {
  width: 50px;
  height: 96px;
  background: url("/images/error.png") no-repeat;
  background-size: 100%;
  filter: grayscale(100%);
  margin: 0 auto;
  opacity: 0.6;
}

.ErrorScreen-Message {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  text-align: center;

  color: black;
  color: var(--textPrimary);

  opacity: 0.4;
}
