.loadingSkeleton {
  display: inline-block;
  border-radius: 2px;
  background: linear-gradient(90deg,rgba(102, 107, 109, 0.192),rgba(184, 193, 197, 0.4),rgba(186, 194, 197, 0.2));
  animation: card-loading 2s ease infinite;
  background-size: 600% 600%;
  margin-bottom: 1px;
}

.skeletonDiv:nth-child(odd) .loadingSkeleton {
  animation-delay: 0.4s;
}

@-webkit-keyframes card-loading {
  0%, to {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}
@keyframes card-loading {
  0%, to {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
}