.FullPie-Container {
  position: relative;
  overflow: visible;
}

.FullPie-Label {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}